:root{

    // __________________ CORES __________________
    --set-cor-principal: 140;

    --cor-logo1: hsl(var(--set-cor-principal),70%,20%);
    --cor-logo2: hsl(var(--set-cor-principal),70%,27%);
    --cor-logo3: hsl(var(--set-cor-principal),70%,33%);
    --cor-logo4: hsl(var(--set-cor-principal),70%,40%);

    // - destaque  
    --cor-d:#bd1616;
    
    // __________________ MOBILE __________________
    --font-G: 22px;
    --font-M: 16px;
    --font-P: 12px;

    // __________________ TABLET  __________________ 



    // __________________ DESKTOP __________________ 

}