:root{

    // __________________ FONT __________________
    --font-padrao: Arial, Helvetica, sans-serif;

    // tamanhos 
    --px-p: 14px;

    // __________________ CORES __________________
    --set-cor-principal:59;

    --cor-logo1: hsl(var(--set-cor-principal),100%,45%);
    --cor-logo2: hsl(var(--set-cor-principal),80%,30%);
    --cor-logo3: hsl(var(--set-cor-principal),80%,33%);
    --cor-line: hsl(var(--set-cor-principal),3%,60%);
    --cor-footer: hsl(var(--set-cor-principal),0%,30%);

    // - destaque  
    --cor-d:#bd1616;
    --cor-border:#c5c1c1;
    --cor-menu:#545353;
    --cor-btnDest:#0083FF;
    --cor-padrao-f:#ebebeb;
    --cor-padrao-prod:#f1f1f1;
    --cor-cupon-f:#ebebeb;

    // __________________ MOBILE __________________
    --font-G: 22px;
    --font-M: 16px;
    --font-P: 12px;

    // __________________ TABLET  __________________ 



    // __________________ DESKTOP __________________ 
    --icon-desktop: 25px;
    --gap-p: 0.3rem;
    --gap-p-imgprod: 0.2rem;

    // __________________ PADDING __________________ 
    --padd-P:1rem;
    // __________________ BORDE __________________ 
    --border-5: 5px;
    --border-10: 10px;

    // __________________ FOOTER __________________ 
    --pad-desk: 2rem;
}

@mixin container__desktop{
    width: 1280px;
}
@mixin container--centro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex--row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padd-P);
}

@mixin border-5px{
    border: solid var(--cor-borderP) 1px;
    border-radius: var(--border-5);
}
@mixin border-10px{
    border: solid var(--cor-border) 1px;
    border-radius: var(--border-10);
}

@mixin img-100{
    width: 100%;
    height: 100%;
}

@mixin WH-100{
    width: 100px;
    height: 70px;
}
