@import 'variaveis';

*{
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pada{
    width: 100px;
    height: 100px;
    padding: 1rem;
}




nav{
    width: 100%;
    @include container--centro;
    
    .nav{
        @include container__desktop;
        @include flex--row;
        
        height: 140px;
        align-items: center;

        .nav--logo{
            @include border-5px;
            @include WH-100;

            overflow: hidden;
            background: #000;
            
            img{
                @include img-100;
            }
        }

        .nav--cupons{
            height: 100px;;
            flex-grow: 1;
            margin: 0 1rem;
            @include border-5px;
            background: var(--cor-cupon-f);

            a{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 var(--padd-P);
                align-items: center;
                height: 100%;
                color: #000;
                font-family: Arial, Helvetica, sans-serif;
                
                .cupons--descrition1{
                    display: flex;
                    align-items: center;
                    height: 100%;

                    div{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: var(--px-p);
                        span{
                            background: var(--cor-d);
                            padding: 0.5rem;
                            border-radius: 5px;
                            text-transform: uppercase
                        }
                    }
                }

                .cupons--descrition2{
                    color: var(--cor-d);
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    img{
                        width: 25px;
                    }
                }
                
            }

        }

        .nav--menu{
            @include WH-100;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            img{
                width: var(--icon-desktop);
                background: #fff
            }

            .menu--date{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
            }
            .menu--icon{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;  
                align-items: center; 
                position: relative;

                &::after{
                    content: "";
                    width: 3px;
                    height: 100%;
                    background: var(--cor-border);
                    position: absolute;
                    left: 50%;
                }
            }
        }
    }
    .pesquisa{
        @include container__desktop;
        @include border-5px;
        margin: 0 2rem;
        display: flex;
        align-items: center;
        img{
            width: var(--icon-desktop);
        }
        input{
            height: 2.5rem;
            width: 100%;
            border: none;
        }
    }
}


section{
    width: 100%;
    padding: 2rem 0;
    @include container--centro;

    .section--banner{
        @include container__desktop;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        height: 500px;

        .categoria--info{
            height: 2rem;
            display: flex;
            padding:0 var(--padd-P);
            font-family: var(--font-padrao);
            font-size: var(--px-p);

            .categoria{
                width: 200px;
                background: var(--cor-padrao-f);
                margin-right: 1rem;
                display: flex;
                flex-direction: row;
                justify-content:left;
                padding: 0 var(--padd-P);

                .categoria--menu{
                    width: 2.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    .line--menu{
                        width: 80%;
                        height: 3px;
                        background: var(--cor-menu);

                    }
                }

                input{
                    background: none;
                    border: none;
                    cursor: pointer;
                }
            }

            .info{
                background: var(--cor-padrao-f);
                flex-grow: 1;
                display: flex;
                align-items: center;
                padding: 0 var(--padd-P);

                li{
                    padding: 0 var(--padd-P);
                }
            }
        }

        .banner{
            flex-grow: 1;
            background: var(--cor-logo1);
            @include border-10px;
            padding: var(--padd-P);

            .banner--slides{
                border-radius: var(--border-5);
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                gap: 1rem;
                .banner--cat{
                    width: 200px;
                    height: 100%;
                    background: #fff;
                    border-radius: var(--border-10) 0 0 var(--border-5) ;
                }

                .slides--container{
                    background: #fff;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: row;
                    img{
                        width: 930px;
                        object-fit: cover;
                    }

                    .slides{
                        flex-grow: 1;
                        overflow: hidden;
                        
                    }
                    .slides--botons{
                        width: 100px;
                        background: #000;
                    }
                }
            }
        }
    }
}

main{
    @include container--centro;
    width: 100%;
    background: var(--cor-padrao-f);
    padding: 0 2rem;

    .atalhos--container{
        height: 200px;
        @include container__desktop;
    }
}