@import 'variaveis';

*{
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main{
    width: 100%;
}
.pada{
    width: 100px;
    height: 100px;
    padding: 1rem;
}


.icn{
    color: #000000;
}

nav{
    width: 100%;
    @include container--centro;
    position: fixed;
    z-index: 10;    
    transform: 0.6s;
    border-bottom: #ccc9c9 solid 1px;
    padding-bottom: 1rem ;
    .nav{
        @include container__desktop;
        @include flex--row;
        
        height: 140px;
        align-items: center;

        .nav--logo{
            @include border-5px;
            @include WH-100;

            overflow: hidden;
            
            img{
                @include img-100;
            }
        }

        .nav--cupons{
            height: 100px;;
            flex-grow: 1;
            margin: 0 1rem;
            @include border-5px;
            background: var(--cor-cupon-f);

            a{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 var(--padd-P);
                align-items: center;
                height: 100%;
                color: #000;
                font-family: Arial, Helvetica, sans-serif;
                
                .cupons--descrition1{
                    display: flex;
                    align-items: center;
                    height: 100%;

                    div{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: var(--px-p);
                        span{
                            background: var(--cor-logo1);
                            padding: 0.5rem;
                            border-radius: 5px;
                            text-transform: uppercase
                        }
                    }
                }

                .cupons--descrition2{
                    color: #000;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    img{
                        width: 25px;
                    }
                }
                
            }

        }

        .nav--menu{
            @include WH-100;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            img{
                width: var(--icon-desktop);
                background: #fff
            }

            .menu--date{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                background:var(--cor-footer);
                padding: 8px;
                border-radius: 5px;
                color: #ffffff;
            }
            .menu--icon{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;  
                align-items: center; 
                position: relative;

                a{
                    i{
                        font-size: 25px;
                        color: var(--cor-footer);
                    }
                }
                &::after{
                    content: "";
                    width: 3px;
                    height: 100%;
                    background: var(--cor-cupon-f);
                    position: absolute;
                    left: 50%;
                }
            }
        }
    }
    .pesquisa{
        @include container__desktop;
        @include border-5px;
        margin: 0 2rem;
        display: flex;
        align-items: center;
        a{
            padding: 0 0.5rem;
            img{
                width: var(--icon-desktop);
            }
        }
        input{
            height: 2.5rem;
            width: 100%;
            border: none;
            padding: 0 1rem;

        }
    }
}


.sticky{
    background: #fff;
    height: 120px !important;
    overflow: hidden;
    .nav{
        @include container__desktop;
        @include flex--row;
        
        height: 70px !important;
        align-items: center;
    
        .nav--logo {
            height: 50px !important;
            width: 50px !important;
    
            overflow: hidden;
            background: #000;
            
            img{
                @include img-100;
            }
        }
    
        .nav--cupons{
            flex-grow: 1;
            height: 50px !important;
            background: var(--cor-cupon-f);
    
            a{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 var(--padd-P);
                align-items: center;
                height: 100%;
                color: #000;
                font-family: Arial, Helvetica, sans-serif;
                
                .cupons--descrition1{
                    display: flex;
                    align-items: center;
                    height: 100%;
    
                    div{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: var(--px-p);
                        span{
                            background: var(--cor-logo1);
                            padding: 0.5rem;
                            border-radius: 5px;
                            text-transform: uppercase
                        }
                    }
                }
    
                .cupons--descrition2{
                    color: #000;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    img{
                        width: 25px;
                    }
                }
                
            }
    
        }
    
        .nav--menu{
            @include WH-100;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
    
            img{
                width: var(--icon-desktop);
                background: #fff
            }
    
            .menu--date{
                display: none !important;
            }
            .menu--icon{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;  
                align-items: center; 
                position: relative;
            }
        }
    }
}


section{
    margin-top: 180px;
    width: 100%;
    padding: 2rem 0;
    @include container--centro;

    .section--banner{
        @include container__desktop;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .categoria--info{
            display: grid;
            grid-template-columns: 1fr 4fr;
            gap: var(--gap-p) ;
            padding:0 var(--padd-P);
            font-family: var(--font-padrao);
            font-size: var(--px-p);
            height: 2.5rem;

            .categoria{
                background: var(--cor-padrao-f);
                display: flex;
                flex-direction: row;
                justify-content:left;
                padding: 0 var(--padd-P);

                .categoria--menu{
                    width: 2.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    font-size: 24px;
                }

                input{
                    background: none;
                    border: none;
                    cursor: pointer;
                }
            }

            .info{
                background: var(--cor-padrao-f);
                flex-grow: 1;
                display: flex;
                align-items: center;
                padding: 0 0.5rem;

                li{
                    padding: 5px var(--padd-P);
                }

                .first{
                    background: var(--cor-footer);
                    color: #ccc9c9;
                    border-radius: 5px;
                }
            }
        }

        .banner{
            @include border-10px;
            padding: var(--padd-P);

            .banner--slides{
                border-radius: var(--border-5);
                display: grid;
                grid-template-columns: 1fr 4fr;
                gap: var(--gap-p) ;
                
                .banner--cat{
                    height: 100%;
                    display: grid;
                    grid-template-rows:  4fr 1fr;
                    gap: var(--gap-p) ;
                    background: #fff;
                    border-radius: 10px 0px 0 10px;
                    overflow: hidden;
                    padding: 0.5rem;
                    .banner--categoria{
                        height: 100%;
                        .cat--todosP{
                            background: var(--cor-btnDest);
                            border-radius: var(--border-10);
                            a{
                                color: #fff;
                                text-transform: capitalize;
                            }
                        }

                        a{
                            display: block;
                            padding: 1rem;
                            color: #535353;
                        }
                    }
                    .banner--cat--inf{
                        background: var(--cor-footer);
                        border-radius: var(--border-10);
                        color: #fff;
                        padding: 1rem;
                        font-size: 13px;

                        span{
                            display: block;
                            margin-bottom: 7px;
                            text-transform: uppercase;
                            font-weight: 700;
                        }
                    }
                }

                .slides--container{
                    width: 100%;
                    object-fit: cover;
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .slides{
                        padding-right: 2rem;
                        width: 100%;
                        height: 90%;
                        display: flex;
                        overflow: hidden;
                        border: 1px solid #ffffff;
                        border-radius: 0px 10px 10px 0px;

                        .slide{
                            min-width: 100%;
                            height: 100%;
                            position: relative;
                            overflow: hidden;
                            padding-right: 1rem;
                            img{
                                border-radius: 10px;
                                width: 100%;
                                height: 100%;
                            }

                            .sl--title{
                                position: absolute;
                                background: #2424248f;
                                bottom: 2rem;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 90px;
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                border-radius: 20px;
                                overflow: hidden;
                                padding: 0.5rem;
                                .sl--text{
                                    color: #000000;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    span{
                                        text-transform:capitalize;
                                        padding: 10px 30px;
                                        background: #000000dc;
                                        color: #fff;
                                        border-radius: 10px;
                                    }
                                    p{
                                        color: #ccc9c9;
                                        padding: 4px 0;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        
                    }

                    .btn{
                        z-index: 10;
                        position: absolute;
                        top: 50%;
                        width: 3rem;
                        height: 3rem;
                        border-radius: 25px;
                        transform: translateY(-50%);
                        cursor: pointer;
                        text-align: center;
                        color: #fff;
                
                        .btn--icon{
                            font-size: 40px;
                            transition: .3s;
                        }
                        i:hover{
                            text-shadow: #0000008a 3px 0px;
                        }
                
                    }
                    .anterior{
                        left: 20%;
                    }
                    .proximo{
                        right: 20%;
                    }
                    
                }
            }
        }
    }
}

main{
    @include container--centro;
    width: 100%;

    .atalhos--container{
        height: 200px;
        width: 100%;
        @include container--centro;

        .atalho--sub{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: center;

            .atalhos--descricao{
                padding: 0.5rem 5rem;
                background: var(--cor-padrao-f);
                border-radius: 10px 10px 0 0 ;
                span{
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }
            
            .atalhos--slides{
                background: var(--cor-padrao-f);
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                padding: var(--padd-P);

                .slides{
                    @include container__desktop;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    gap:var(--gap-p);

                    cursor: pointer;
                    .slide{
                        background: rgb(255,255,255);
                        background: linear-gradient(36deg, rgba(255,255,255,1) 85%, var(--cor-logo1) 170%);
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        border-left: var(--cor-logo1) solid 4px;
                        padding: 1rem;
                        display: flex;
                        flex-direction: column-reverse;
                        justify-content: center;
                        position: relative;

                        .icon{  
                            font-size: 25px;
                        }

                        .slide--descricao{
                            padding: 7px 0;
                            
                            span{
                                color: #474747;
                                font-size: 14px;
                                text-transform:uppercase;
                                font-weight: 600;
                            }

                            p{
                                font-size: 12px;
                                text-transform: lowercase;
                                padding-top: 5px;
                            }
                        }

                        .favorit--salv{
                            position: absolute;
                            font-size: 24px;
                            top: -3px;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    #produtos--container{
        width: 100%;
        min-height: 100vh;
        background: var(--cor-padrao-prod);
        padding: var(--padd-P);
        display: flex;
        justify-content: center;

        .main--produto{
            @include container__desktop;

            display: grid;
            grid-template-columns: repeat(5, min(1fr));
            gap: var(--gap-p) ;

            .produto{
                padding: 1rem;
                background: #fff;
                overflow: hidden;
                height: 450px;
                //generico
                .prd--icon--padrao{
                    padding: var(--gap-p-imgprod);
                    background: var(--cor-cupon-f);
                    border-radius: var(--gap-p-imgprod);
                }

                .produto--img{
                    padding-bottom: 1rem;
                    position: relative;
                    padding-top: 2rem;
                    .img--top{
                        position: absolute;
                        top: 0;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .emo--qtd{
                            .favorit{
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                                position: relative;
                            }
                            .produto--qtd{
                            position: absolute;
                            background: var(--cor-btnDest);
                            text-align: center;
                            color: #fff;
                            padding: var(--gap-p-imgprod);
                            width: 1.7rem;    
                            }
                        }
                    }
                    .imagem{
                        cursor: pointer;
                        img{
                            width: 100%;
                        }
                    }

                    .valor{
                        display: flex;
                        flex-direction: row;
                        justify-content: end;
                        gap: var(--gap-p) ;

                        .valor--ant{
                            color: var(--cor-padrao-f);
                            &::before{
                                content: "R$";
                                color: var(--cor-padrao-f);
                                padding-left: 5px;
                                padding-right: 3px;
                            }
                        }

                        .valor--real{
                            &::before{
                                content: "R$";
                                color: #000;
                                padding-left: 5px;
                                padding-right: 3px;
                            }
                        }
                    }
                }

                .economia{
                    width: 100%;
                    display: flex;
                    justify-content:baseline;
                    color: #f70000;
                    .eco--descricao{
                        border: 2px solid #f70000;
                        padding: 0 1rem;
                        border-radius: 5px;
                        font-size: 13px;

                        span{
                            &::before{
                                content: "R$";
                                padding-right: 3px;
                            }
                        }
                    }
                }

                .comprar{
                    overflow: hidden;
                    display: flex;
                    height: 2rem;
                    gap: 5px;
                    .comprar--btn{
                        height: 100%;
                        width: 50%;
                        input{
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            text-transform: uppercase;
                            font-size: 11px;
                            border: none;
                            background: #0083FF;
                            color: #fff;
                            cursor: pointer;
                        }
                    }

                    .comprar--qtd{
                        height: 100%;
                        width: 50%;
                        input{
                            height: 100%;
                            width: 100%;
                            text-align: center;
                            border-radius: 5px;
                            border: 1px solid #8f8f8f;
                        }
                    }
                }

                .info--preco{
                    color: #8f8f8f;
                    font-size: 13px;
                }

                .produto--descricao{
                    .informativo{
                        font-size: 13px;
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content:start;
                        span{
                            padding-right: 5px;
                        }
                    }
                    .descri--prod{
                        padding: 5px 0;
                        display: flex;
                        flex-direction: column;
                        text-transform: capitalize;
                        .marca{
                            color: #8f8f8f;
                        }
                    }
                }
            }
        }
    }
}

// modal
#modal{
    display: none;
    position: absolute;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 4rem;
    backdrop-filter: blur(5px);

    .iicon{
        font-size: 35px;
    }
    .modal--main{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        background: #fff;
        object-fit: cover;
        display: flex;
        flex-direction: column;
        border-radius: 10px;

        #modal-content{
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            background: transparent;

        }
        button{
            background: none;
            border: none;
        }
    }

    .modal--nav{
        height: 5rem;
    }

    #modal-close{
        cursor: pointer;
        position: absolute;
        right: 2rem;
        top: 1rem;
    }
}




footer{
    @include container--centro;
    width: 100%;
    background: var(--cor-footer);
    height: 400px;

    .footer{
        @include container__desktop; 
        color: #fff;
        display: flex;
        flex-direction: column;

        .footer--lineup{
            padding: var(--pad-desk );
            border-bottom: var(--cor-line) 1px solid;
            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            .lineup--link{
                background: #000000;
                padding: 0.5rem 4rem;
                border-radius: 10px;
                a{
                    color: #fff;
                    width: 100%;
                }
            }
        }

        .footer--client{
            padding: var(--pad-desk );

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .ul{
                li{
                    padding: 10px 0;    
                }
            }
        }
    }
}
